<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973541682452-fvptpln4r9bi4619l2emjmj0sd633vtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973541682452-fvptpln4r9bi4619l2emjmj0sd633vtf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>973541682452-o2flftn5560o5l5l1hgvgkt7e6fre5b4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOJ6Q6Oyl7R3__FIP2Fey7SoU8jLOITL8</string>
	<key>GCM_SENDER_ID</key>
	<string>973541682452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.EVVPLUS</string>
	<key>PROJECT_ID</key>
	<string>evv-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>evv-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973541682452:ios:604f102d3f88a5e8192601</string>
</dict>
</plist>